<mat-horizontal-stepper>
    <!--- STEEEEEP 1 -->

     <mat-step label="INVITATION">
       <mat-card>
       <div class="control-section">
        <div class="mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">Attendees </div>
            <div class="mat-header-cell">Invitation</div>
                      </div>
          <div class="mat-row">
            <div class="mat-cell">{{dataSource?.Mentor.name}}</div>
            <div class="mat-cell">{{dataSource?.MentorStatus}}</div>
          </div>
          <div class="mat-row">
            <div class="mat-cell">{{dataSource?.NewJoiner.name}}</div>
            <div class="mat-cell">{{dataSource?.NewJoinerStatus}}</div>
          </div>
        </div>

     </div>
    </mat-card>
     </mat-step>



     <!--steeeeeeeeeeeeeep 2-->

     <mat-step label="MEETING">
       <h4>Meeting's details</h4>
       <!-- <table class="mat-table">
        <div class="mat-row">
         <thead>
           <tr>
             <th class="mat-header-cell">Attendees </th>
             <td class="mat-cell">
              {{dataSource.Mentor.name}},{{dataSource.NewJoiner.name}}
             </td>
           </tr>

         </thead></div>
         <tbody>
           <tr>
             <th class="mat-header-cell">Topic</th>
             <td class="mat-cell" >
              {{dataSource.Subject}}
             </td>
           </tr>
         </tbody>
         <tbody>
           <tr>
             <th class="mat-header-cell">Time of start</th>
             <td class="mat-cell" >
              {{dataSource.StartTime}}
                      </td>
           </tr>
         </tbody>
         <tbody>
           <tr>
             <th class="mat-header-cell">Date of end </th>
             <td class="mat-cell" >
              {{dataSource.EndTime}}
             </td>
           </tr>
         </tbody>
         <tbody>
           <tr>
             <th class="mat-header-cell">STATUS </th>
             <td class="mat-cell" >
               DONE
             </td>
           </tr>
         </tbody>
       </table> -->
       <mat-card>

         <div class="mat-table">

           <div class="mat-row">
             <div class="mat-header-cell">Attendees </div>
             <div class="mat-header-cell">{{dataSource?.Mentor.name}} ,{{dataSource?.NewJoiner.name}}</div>
                       </div>
           <div class="mat-row">
             <div class="mat-cell">TOPIC</div>
             <div class="mat-cell">  {{dataSource?.Subject}}</div>
           </div>
           <div class="mat-row">
             <div class="mat-cell">Time of start </div>
             <div class="mat-cell">{{dataSource?.StartTime}}</div>
           </div>
           <div class="mat-row">
            <div class="mat-cell">Time of End</div>
            <div class="mat-cell">{{dataSource?.EndTime}}</div>
          </div>
          <div class="mat-row">
            <div class="mat-cell">Status </div>
            <div class="mat-cell">Done </div>
          </div>
         </div>


     </mat-card>
     </mat-step>
     <mat-step label="FEEDBACK">
      <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
      <mat-card class="example-card">
        <mat-card-title>New joiner's Feedback</mat-card-title>

      </mat-card> </div>

            <div class="col-lg-6 mb-4">
      <mat-card class="example-card">
        <mat-card-title>Mentors's Feedback</mat-card-title>

      </mat-card>
      </div></div></div>
     </mat-step>

     <mat-step label="FINISH">

      <h1>Congratulations , you've done it</h1>
     </mat-step>

   </mat-horizontal-stepper>
