

 <!--  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
    accept=".csv" />

      <tr *ngFor="let csvData of csvRecords;let i = index;">

        <td>{{i+1}}</td>
        <td>
          <span>{{csvData.firstName}}</span>
        </td>


      </tr>
   -->

    <mat-list>
      <div mat-subheader>NEW JOINERS</div>
      <mat-list-item *ngFor="let folder of newjoiners">
        <mat-icon mat-list-icon>person_pin</mat-icon>
        <div mat-line>{{folder.name}}</div>
        <div mat-line> {{folder.email}} </div>
        <div mat-line> {{folder.interest}} </div>
      </mat-list-item>
      <mat-divider></mat-divider>
     
    </mat-list>
